body {
    background: #222222FF;

    main {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        padding: 25px;

        #canv {
            position: relative;
        }
    
        #selection {
            position: absolute;
            border: 2px dotted white;
            z-index: 1000;
            background-color: #FFF1;
            pointer-events:none;
        }
    
        canvas {
            background: black;
            box-shadow: 0 0 25px black;
        }
        
        #ctrls {
            width: 300px;
            margin-left: 10px;
        }
    }
}

